auto-install-peers=true
node-linker=hoisted
public-hoist-pattern=*
shamefully-hoist=true

@fortawesome:registry=https://npm.fontawesome.com/
@awesome.me:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_PACKAGE_TOKEN}

